@import "~bootstrap-scss/bootstrap";

$primary-color: rgb(0, 0, 0);

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color;
  margin: auto;
  padding: 30px;
}

.btn {
  margin: 10px;
}

#logoUS {
  height: 60px;
}

.position-relative {
  margin-right: 100px;
  margin-left: 20px;
}

.materiales-btn, .herramientas-btn, .informatica-btn, .registro-btn {
  width: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
